*{
    margin: 0;
}
header{
    background-color: black;
    color: aliceblue;
    text-align: center;
    height: 50px;
}
.main{
    width: 100%;
    height: 550px;
    display: flex;
    background-color: black;
    position: absolute;
}
.contenedor{
   
   width: 100%;
   height: 550px;
   
}

#contenedor_izq{
    background-color:rgb(252, 216, 59);

    
}
#contenedor_izq img{
    position: absolute;
    height: 500px;
    width: fit-content;
    padding: 20px;
    left:60px;
    border-radius: 15%;
    
}
#contenedor_central{
    background-color:rgb(252, 216, 59);

}
#contenedor_der{
    background-color: rgb(252, 216, 59);
}
#contenedor_der img{
    position: relative;
    height: 500px;
    width: fit-content;
    padding: 20px;
    left:60px;
    border-radius: 15%;
}

#titulo_cont_centr{
    position: relative;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left:20px;
    top:20px;
}
#argon_letras img{
    position: relative;
    width: 200px;
    height: 100px;
    left: 60px;

}
p {
    width: 500px;
    height: 150px;
    position: relative;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:2%;
    
}

#logos {
    height: 50px;
    width: 50px;
    position: relative;
    left: 600px;
    padding: 10px;
}
.listas_cont{
    display: flex;
    position: relative;
    top: 30px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}
.titulos_listas{
    display: flex;
    position: relative;
    padding-right: 80px;

}
h5{
    color: aliceblue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
    background-color: black;
    position: relative;
    top: 550px;
    right:20px;
    

    
}

  
