*{
    margin: 0;
}
/*body{
    background-color: darkgoldenrod;
}
/*#contenedor_izq img{
    background-color: aqua;
    height: 500px;
    width: 300px;
    border-radius: 15%;
    position: absolute; 
}*/
.main{
    width: 100%;
    height: 550px;
    display: flex;
    background-color: black;
}
.contenedor{
   
   width: 100%;
   height: 550px;
}

#contenedor_izq{
    background-color:rgb(202, 162, 162);

    
}
#contenedor_izq img{
    position: absolute;
    height: 550px;
    width: fit-content;
    align-items: center;
}
#contenedor_central{
    background-color: aqua;

}
#contenedor_der{
    background-color: chartreuse;
}
/*
p {
    width: 600px;
    height: 200px;
    background-color: rgb(238, 255, 0);
    position: relative;
    left: 360px;
    top: 10px;
    font-size: 23px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:1%;
    border-radius: 10%;
    border-bottom-left-radius: 10%;
   
}

#logos {
    height: 50px;
    width: 50px;
    position: relative;
    left: 600px;
    padding: 10px;
}
#titulo{
    position: relative;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left:350px;
    top:20px;
}
#argon_letras img{
    position: relative;
    width: 200px;
    height: 100px;
    left: 400px;

}
.listas_cont{
    display: flex;
    position: relative;
    top: 30px;
    left: 500px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}
.titulos_listas{
    display: flex;
    position: relative;
    left: 500px;
    padding-right: 80px;

}

footer{
    position: relative;
    bottom: -80px;
}

  
